html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 1rem;
    margin: 0;
    background: black;
    color: red;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-clip: padding-box;
    box-shadow: inset 0 0 1rem #ff0000;
}

@font-face {
    font-family: zenDots;
    src: url('./assets/ZenDots-Regular.ttf');
}

@font-face {
    font-family: minisystem;
    src: url('./assets/minisystem.otf');
}

@font-face {
    font-family: digital;
    src: url('./assets/BPdotsUnicaseBold.otf');
}
